@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css">
<body class="background">
    <div class="nvg-bg"></div>
    <div class="first-area_home_index">
        <h1 class="display-4 highlight-text">Welcome to ShopEase</h1>
        <div button>@if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Expense" class="btn btn-primary">Overview</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary b1">Login</a>
            <a asp-controller="Product" asp-action="Inventory" class="btn btn-primary">Overview</a>
            <a asp-controller="Account"  asp-action="Registration" class="btn btn-secondary">Create Account</a>
        }
        </div>
    </div>
</body>