@page
@model COMP3851B.Views.Dates.datesModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dates</title>
    <link rel="stylesheet" href="~/css/dates.css">
</head>
<body>
    <div class="style1">
        <h1 class="title">Important Dates - 2024 (Singapore)</h1>

        <table class="dates-table">
            <thead>
                <tr>
                    <th class="table-header">Term Description</th>
                    <th class="table-header">Trimester 1 Singapore</th>
                    <th class="table-header">Trimester 2 Singapore</th>
                    <th class="table-header">Trimester 3 Singapore</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-data">NUSTAR Term</td>
                    <td class="table-data">6415</td>
                    <td class="table-data">6445</td>
                    <td class="table-data">6475</td>
                </tr>
                <tr>
                    <td class="table-data">Term Commences</td>
                    <td class="table-data">08/01/2024</td>
                    <td class="table-data">06/05/2024</td>
                    <td class="table-data">02/09/2024</td>
                </tr>
                <tr>
                    <td class="table-data">Last day to add a course through myHub without approval</td>
                    <td class="table-data">19/01/2024</td>
                    <td class="table-data">17/05/2024</td>
                    <td class="table-data">13/09/2024</td>
                </tr>
                <tr>
                    <td class="table-data">Census Date</td>
                    <td class="table-data">02/02/2024</td>
                    <td class="table-data">31/05/2024</td>
                    <td class="table-data">27/09/2024</td>
                </tr>
                <tr>
                    <td class="table-data">Mid Term Break</td>
                    <td class="table-data">12/02/2024 - 18/02/2024</td>
                    <td class="table-data">17/06/2024 - 23/06/2024</td>
                    <td class="table-data">14/10/2024 - 20/10/2024</td>
                </tr>
                <tr>
                    <td class="table-data">Term Concludes (End of Teaching)</td>
                    <td class="table-data">12/04/2024</td>
                    <td class="table-data">08/08/2024</td>
                    <td class="table-data">06/12/2024</td>
                </tr>
                <tr>
                    <td class="table-data">Examination Period</td>
                    <td class="table-data">15/04/2024 - 25/04/2024</td>
                    <td class="table-data">12/08/2024 - 22/08/2024</td>
                    <td class="table-data">09/12/2024 - 19/12/2024</td>
                </tr>
                <tr>
                    <td class="table-data">Fully Graded Date</td>
                    <td class="table-data">09/05/2024</td>
                    <td class="table-data">05/09/2024</td>
                    <td class="table-data">16/01/2025</td>
                </tr>
                <tr>
                    <td class="table-data">Rescheduled Examination Period</td>
                    <td class="table-data">15/05/2024 - 21/05/2024</td>
                    <td class="table-data">12/09/2024 - 22/09/2024</td>
                    <td class="table-data">22/01/2025 - 28/01/2025</td>
                </tr>
            </tbody>
        </table>

        <p class="last-updated">Last Updated: 07/06/2023</p>
    </div>

</body>
</html>
