@{
    ViewData["Title"] = "Documents Needed";
}

<link rel="stylesheet" type="text/css" href="~/css/docNeed.css">

<div class="documents-needed-page">
    <div class="nav-bg"></div>
    <div class="header-section">
        <div class="overlay">
            <h1>Get to know what you should prepare!</h1>
            <div class="floating-box-container">
                <div class="floating-box">
                    <h3>Local / Permanent residents</h3>
                    <ul>
                        <li>University Offer Letter</li>
                        <li>Academic Transcript (Local Diploma / Private Diploma)</li>
                        <li>Signed Student Contract</li>
                    </ul>

                </div>
                <div class="floating-box">
                    <h3>International Student</h3>
                    <ul>
                        <li>University Offer Letter</li>
                        <li>IPA letter (for collecting STP in Singapore)</li>
                        <li>Academic Transcript (Local Diploma / Private Diploma)</li>
                        <li>Signed Student Contract</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="content-section">
        <h2>Apply the student card</h2>
        <div class="document-categories">
            <div class="category">
            <h2>Apply Student Card</h2>
            <div class="content-with-arrow">
                <p>Sd card xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                <a href="@Url.Action("Guide", "Home")" class="floating-box-link">&gt;</a>
            </div>
            </div>

        </div>
        <div class="alert alert-warning" role="alert">
            You are advised to prepare these documents ASAP
        </div>
    </div>
